*{
    padding: 0;
    margin: 0;
}
.header{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images1/page.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 8px;
    position:relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height:2px;
    background:red;
    display:block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.text-box{
    width:90%;
    color:aliceblue;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.text-box h1{
    font-size: 62px;
    transition: 1s;
}
.text-box p{
    margin:10px 0 40px;
    font-size: 14px;
    color: aliceblue;
}

.text-box h1:hover{
    color: rgb(219, 248, 172);
    font-size: 80px;
}

.video{
    margin-top: 20px ;
    text-align: center;
}

.video h1{
    font-size: 30px;
    padding-bottom: 30px;
}

.history{
    text-align: center;
}
.history h1{
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 50px;
}

.history img{
    display: flexbox;
    flex-basis: 31%;
}

.history div{
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    display: block;
    width:300;
}
#h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
}
.records{
    padding-left: 30%;
    text-align: center;
}

.table{
    text-align: center;
    border:5px solid;
    border-color:"green" ;
    background-color : "yellow";
}

.table td,th,tr,thead,tbody{
    border:5px solid;
    border-color:"green" ;
    background-color : "yellow";
}

.founder{
    text-align: center;
}

.founder h1{
    font-size: 30px;
    margin-top: 30px;
}

.founder img{
    padding-top: 30px;
    border-radius: 50%;
    padding-bottom: 20px;
}
.divison{
    padding:20px;

}
.last{
    margin-top: 100px;
    text-align: center;
}
