*{
    padding: 0;
    margin: 0;
}
.header{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Blogs/cover.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 8px;
    position:relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height:2px;
    background:red;
    display:block;
    margin:auto;
    transition:0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.text-box{
    width:90%;
    color:aliceblue;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.text-box h1{
    font-size: 62px;
    transition: 1s;
}
.text-box p{
    margin:10px 0 40px;
    font-size: 14px;
    color: aliceblue;
}

.text-box h1:hover{
    color: rgb(219, 248, 172);
    font-size: 80px;
}
.blog{
    margin-top: 5%;
    display:flex;
    padding:20px;
    justify-content: space-between;
    
}

.blog1{
    padding-top: 10px;
    text-align: center;
    display: flexbox;
    flex-basis: 30%;
    background-color: rgb(219, 248, 172);
    border-radius: 20px;
}
.blog1 img{
    border-radius: 20px;
    padding:10px;
}

.blog button{
    margin: 10px 10px;
    border-radius: 5px;
    padding: 7px 10px;
    background-color: aquamarine;
    border-color: bisque;
    box-shadow: 0 0 1px 0 rgba(4,9,30,0.7);
}

.last{
    margin-top: 100px;
    text-align: center;
}